@mixin address-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-address {
    .primary {
      color: mat-color($primary);
      background: rgba(mat-color($foreground, secondary-text), 0.03);
    }
  }
}
